/*arranged css file with class selectors first and in order, then id selectors second and in order, followed by media query*/

/*universal selector for the entire page setting sizing, padding and margin*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0
}

/*class selector for entire body setting background color*/
body {
  background-color:  rgb(246, 122, 5);;  
}

/*class selector for header setting colors, padding and margin*/
header {
    padding: 20px;
    background-color: rgb(5, 158, 246);
    color: #070748;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*class selector for h1 in headwe setting colors, padding and display*/
header h1 {
    display: inline-block;
    background-color: rgb(246, 122, 5);
    font-size: 48px;
    color: #070748;
    padding: 5px;
}

/*class selector for header setting colors, fonts, padding*/
header h1 span {
    color: black;
    background-color: rgba(255, 234, 0, 0.905);
    font-weight: bold;
    font-family: Arial;
}

/*class selector for nav bar setting colors, padding, font size and margin*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

/*class selector for unordered lis setting to no list bullets*/
header nav ul {
    list-style-type: none;
}

/*class selector for list setting display and margin*/
header nav ul  li {
    display: inline-block;
    margin-left: 25px;
}

/*class selector for anchors setting colors and font style*/
a {
    color: #070748;
    text-decoration: underline;
    text-decoration-color: rgb(246, 122, 5);
    font-weight: bold;
}

/*class selector for main setting as flex wrap*/
main {
    display: flex;
    flex-wrap:wrap;
}

/*class selector for aside setting colors, padding, width and margin*/
aside {
    width: 12%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: center;
    height: auto;
    background-color: rgb(246, 122, 5);
    font-size: 30px;
    font-weight: bold;
    color: #070748;
    text-decoration: underline;
    text-decoration-color: rgba(255, 234, 0, 0.905);
}
 /*class selector for footer setting colors, padding, size, font style and margin*/
footer {
    height: 100px;
    width: 100%;
    color: #070748;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    font-family: cursive;
    font-size: 20px;
    background-color:rgb(5, 158, 246);
    margin-top: 5px;
}

/*id selector for background image setting size*/
.backgroundimg {
    height: 300px;
    width: 100%;
    background-image: url(20230314_075951.jpg);
    background-size: cover;
    background-position: center;
}

/*id selector for about me section, setting attributes*/
.about-me {
    height: auto;
    width: 85%;
    margin: 5px;
    color: #070748;
    text-align: left;
    padding-left: 5px;
    font-family: cursive;
    font-size: 30px;
    background-color: rgba(255, 234, 0, 0.905);
}

/*id selector for my pic setting size*/
.pic {
    width: 150px;
    height: 250px;
}

/*id selector my work section, setting attributes*/
.my-work {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    height: auto;
    width: 85%;
    margin: 5px;
    padding-left: 5px;
    background-color: rgba(255, 234, 0, 0.905);
}

/*id selector setting size and position of the section*/
.card-1 {
    width: 600px;
    position: relative;
    margin-top: 5px;
}

/*id selector for big website pic setting size*/
.big-card {
    width: 600px;
    height: 300px;
}

/*id selector so when hovered goes opaque*/
.big-card:hover {
    opacity: 0.8; 
 }

 /*id selector for size of text block*/
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/*id setting section as flex*/
.small-container {
    display: flex;
    flex-wrap: wrap;
}

/*id selector postioning the pics*/
.small-card {
    position: relative;
}

/*class selector is out of order but felt it belonged hear this is the size of the images for the depoyed sights*/
img {
    width: 200px;
    height: 200px;
   padding: 5px; 
 }

 /*id selector so when hovered goes opaque*/
.small-card:hover {
    opacity: 0.8;
 }

 /*id selector for size of text block*/
 .small-text-box {
    position: absolute;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 20px;
    right: 20px;
}

/*id selector contact me, setting attributes*/
.contact-me {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 85%;
    margin: 5px;
    text-align: left;
    padding: 10px;
    padding-top: 15px;
    font-family: cursive;
    font-size: 20px;
    background-color: rgba(255, 234, 0, 0.905);    
}

/*media querey for max 768px*/
@media  screen and (max-width: 768px) {
    main {display: inline-block;}
    aside {width: auto;}
    .about-me {display: inline-block; width: 100%;}
    .my-work {display: inline-block; width: 100%;}
    .card-1 {width: 550px;}
    .big-card {width: 550px;}
    aside {width: 100%;}
    .contact-me {display: inline-block; width: 100%;}
    
}

/*media querey for max 412px*/
@media screen and (max-width: 412px) {
   main {display: inline-block;}
   .about-me {display: inline-block; width: 100%;}
   .my-work {display: inline-block; width: 100%;}
   .card-1 {width: 350px;}
   .big-card {width: 350px;}
   .contact-me {display: inline-block; width: 100%;}
   
}


 



