* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0
}

body {
  background-color:  rgb(246, 122, 5);;  
}

header {
    padding: 20px;
    background-color: rgb(5, 158, 246);
    color: #070748;
    margin-top: 10px;
    margin-bottom: 10px;
}

header h1 {
    display: inline-block;
    background-color: rgb(246, 122, 5);
    font-size: 48px;
    color: #070748;
    padding: 5px;
}

header h1 span {
    color: black;
    background-color: rgba(255, 234, 0, 0.905);
    font-weight: bold;
    font-family: Arial;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

header nav ul {
    list-style-type: none;
}

header nav ul  li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #070748;
    text-decoration: underline;
    text-decoration-color: rgb(246, 122, 5);
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap:wrap;
}

aside {
    width: 12%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: center;
    height: auto;
    background-color: rgb(246, 122, 5);
    font-size: 30px;
    font-weight: bold;
    color: #070748;
    text-decoration: underline;
    text-decoration-color: rgba(255, 234, 0, 0.905);
}

footer {
    height: 100px;
    width: 100%;
    color: #070748;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    font-family: cursive;
    font-size: 20px;
    background-color:rgb(5, 158, 246);
    margin-top: 5px;
}

.backgroundimg {
    height: 300px;
    width: 100%;
    background-image: url(20230314_075951.jpg);
    background-size: cover;
    background-position: center;
}


.about-me {
    height: auto;
    width: 85%;
    margin: 5px;
    color: #070748;
    text-align: left;
    padding-left: 5px;
    font-family: cursive;
    font-size: 30px;
    background-color: rgba(255, 234, 0, 0.905);
}

.pic {
    width: 150px;
    height: 250px;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    height: auto;
    width: 85%;
    margin: 5px;
    padding-left: 5px;
    background-color: rgba(255, 234, 0, 0.905);
}

.card-1 {
    width: 600px;
    position: relative;
    margin-top: 5px;
}

.big-card {
    width: 600px;
    height: 300px;
}

.big-card:hover {
    opacity: 0.8; 
 }

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.small-container {
    display: flex;
    flex-wrap: wrap;
}

.small-card {
    position: relative;
}

img {
    width: 200px;
    height: 200px;
   padding: 5px; 
 }

.small-card:hover {
    opacity: 0.8;
 }

 .small-text-box {
    position: absolute;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 20px;
    right: 20px;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 85%;
    margin: 5px;
    text-align: left;
    padding: 10px;
    padding-top: 15px;
    font-family: cursive;
    font-size: 20px;
    background-color: rgba(255, 234, 0, 0.905);    
}

@media screen and (max-width: 360px) {
   main {display: inline-block;}
   .about-me {display: inline-block; width: 100%;}
   .my-work {display: inline-block; width: 100%;}
   .card-1 {width: 350px;}
   .big-card {width: 350px;}
   .contact-me {display: inline-block; width: 100%;}
}


 



